
body {
    background-color: white;
    overflow-x:hidden;
    margin: 0;
    font-family: "Anodina_light";
}





.header {
    width: 800px;
    margin: auto;
    margin-top: 100px;
    vertical-align: middle;
    height: 400px;
    position: relative;
}

.header .char{
    float: left;
    height: 400px;
}

.header .small_icon {
    height: 20px;
    width: auto;
}

.header .icon {
    height: 30px;
    width: auto;
    padding-left: 10px;
}

.header .about_intro {
    padding-left:300px;
    position: absolute;
    top: 10%;
}

.header .about_intro .about_header {
    font-size: 20pt;
    font-family: "Anodina_bold";
}

.header .about_intro .red{
    text-decoration: none;
    color: #FC466B;
}

.header .about_intro .blue{
    text-decoration: none;
    color: #3F5EFB;
}

.header .about_intro .goblue{
    font-family: "Anodina_bold";
    font-size: 15pt;
}

