html {
    height: 100vh;
    width: 100vw;
}

.container {
    overflow-x: hidden; 
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Anodina_light";
    background-attachment: fixed;
    overflow-x: hidden;
}



.header {
    margin-top: 50px;
    margin-left: 0px;
}

.intro_container {
    width: 800px;
    height: max-content;
    margin: auto;
}

.header .char{
    float: left;
    height: 430px;
    vertical-align: middle;
}

.header .small_icon {
    height: 20px;
    width: auto;
}

.header .icon {
    height: 30px;
    width: auto;
    padding-left: 10px;
}

.header .about_intro {
    font-size: 14pt;
    padding-left:300px;
    line-height: 1.8em;
    vertical-align: middle;
}

.header .about_intro .about_header {
    font-size: 20pt;
    font-family: "Anodina_bold";
}

.header .about_intro .red{
    text-decoration: none;
    color: #FC466B;
}

.header .about_intro .blue{
    text-decoration: none;
    color: #3F5EFB;
}

.header .about_intro .goblue{
    font-family: "Anodina_bold";
    font-size: 15pt;
}

