@font-face {
    font-family: "Anodina_light";
    src: url('../font/Anodina-ExtraLight.otf');
}
@font-face {
    font-family: "Anodina_regular";
    src: url('../font/Anodina-Regular.otf');
}
@font-face {
    font-family: "Anodina_bold";
    src: url('../font/Anodina-Bold.otf');
}
@font-face {
    font-family: "Anodina_bolder";
    src: url('../font/Anodina-ExtraBold.otf');
}

.sidebar {
	display: none;
	text-align: left;
	font-family: "Anodina_regular";
}

.openbtn {
	position: fixed;
	top: 4%;
	z-index: 2;
	border:none;
	cursor: pointer;
	background-color: rgba(0,0,0,0);
	padding: 10px 30px;
	border: none;
    background-repeat: no-repeat;
    display: none;
}

.openbtn img {
	width: 40px;
	height: auto;
	opacity: 0.9;
}

.closebtn img{
	width: 30px;
	height: auto;
	padding-left: 0px;
}

.closebtn {
	width: 40px;
	height: max-content;
	border:none;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 0px;
	text-align: left;
	padding-left: 0px;
	display: block;
}

.navigation {
    position: relative;
    padding: 30px;
    font-weight: lighter;
    background-color: white;
    text-align: center;
    font-size: 17pt;
}


.navigation .left_navi {
    float: left;
    margin-left: 50px;
    margin-right:  50px;
}

.navigation img{
    display: inline-block;
    margin: auto;
    width: 40pt;
}

 

.navigation .right_navi {
    float: right;
    margin-left: 50px;
    margin-right: 50px;
}

/* Circle behind */

div.navigation a
{
    color: black;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


div.navigation a:before, div.navigation a:after
{
    position: absolute;
    top: 25px;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%) translateY(-50%) scale(0);
    border-radius: 50%;
    background: rgba(0,0,0,0.03);
    content: "";
    opacity: 1;
    transition: all 0.3s;
    z-index: -1;
}

div.navigation .img_navi:before, div.navigation .img_navi:after {
    top:7px;
}

div.navigation img {
    width: 55px;
    height: auto;
}


div.navigation a:after
{
    transition: all 0.4s;
    border-width: 2px;
}

div.navigation a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.5);
}

div.navigation a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.9);
}

::selection {
  background: #3fe2d3; 
}

