html {
    height: 100vh;
    width: 100vw;
}

.container {
    overflow-x: hidden; 
}

body {
    background-image: linear-gradient(-45deg, #FC466B, #3F5EFB);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    font-family: "Anodina_light";
    position:absolute;
    overflow-x: hidden;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}


.header {
    margin-top: -10px;
    padding-top: 60px;
    height: 250px;
    text-align: center;
    background-color: white;
    font-family: "Anodina_light";
}

.header .hi {
    color: black;
    font-size: 30pt;
    padding: 0px;
    margin: 10px;
}

.header .tags {
    color: #878787;
    font-size: 14pt;
}

.waveWrapper {
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    top: -1px;
    height: 130px;
    margin: auto;
    background-color: rgba(0,0,0,0);
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 150px;  
}
.bgTop {
    z-index: 0;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 0;
    opacity: 0.75;
}
.bgBottom {
    z-index: 0;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move_wave 50s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.flex-container {
    background-color: rgba(0,0,0,0);
    padding: 50px;
    list-style: none;
    width: 85%;
    height: max-content;
    margin:auto;
    margin-top: 50px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}   

.wrap li {
  background: white;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 80%;
  height: 350px;
  margin: 30px;
  line-height: 40px;
  color: white;
  font-size: 2em;
  text-align: center;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

#back2top {
    text-align: center;
    margin: 20px;
    padding-bottom: 50px;
}

#back2top img{
    width: 50px;
    height: auto;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}



.flex-container .text{
    position: absolute;     
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;     
}
.flex-container :hover .text{
    opacity: 1;
}


.flex-container .text_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    transition: all 0.4s ease;   
}

.flex-container :hover .text_container{
    opacity: 1;
}

.flex-container  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.flex-container .i1 {
    background-image: url("../img/cover/582.jpg");
    background-color: #E8EEEF;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.flex-container .i1 h1{    
    font-size: 30pt;
    margin-top: 30px;
}

.flex-container .i1 p{    
    font-size: 15pt;
    margin-top: 30px;
    line-height: 25pt;
}

.flex-container .i2 {
    background-image: url("../img/cover/501.jpg");
    background-color: #E8EEF7;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.flex-container .i3 {
    background-image: url("../img/cover/Alexa.png");
    background-color: #00CAFF;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.flex-container .i3 h1{    
    font-size: 30pt;
    margin-top: 30px;
}

.flex-container .i3 p{    
    font-size: 15pt;
    margin-top: 30px;
    line-height: 25pt;
}

.flex-container .i4 {
    background-image: url("../img/cover/Autodesk.png");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    padding: 0;
    border: 0;
    cursor: pointer;
}
