@font-face {
    font-family: "Anodina";
    font-weight: lighter;
    src: url('font/Anodina-ExtraLight.otf');
}
@font-face {
    font-family: "Anodina";
    font-weight: initial;
    src: url('font/Anodina-Regular.otf');
}
@font-face {
    font-family: "Anodina";
    font-weight: bold;
    src: url('font/Anodina-Bold.otf');
}
@font-face {
    font-family: "Anodina";
    font-weight: bolder;
    src: url('font/Anodina-ExtraBold.otf');
}



html {
    height: 100%;
    width: 100vw;
}

.container {
    height: 100%;
}

body {
    background-image: linear-gradient(-45deg, #FC466B, #3F5EFB);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    font-family: "Anodina";
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.navigation {
    position: relative;
    padding: 30px;
    font-weight: lighter;
    background-color: white;
    text-align: center;
    font-size: 17pt;
}


.navigation .left_navi {
    float: left;
    margin-left: 50px;
    margin-right:  50px;
}

.navigation img{
    display: inline-block;
    margin: auto;
    width: 40pt;
}

 

.navigation .right_navi {
    float: right;
    margin-left: 50px;
    margin-right: 50px;
}

/* Circle behind */

div.navigation a
{
    color: black;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}


div.navigation a:before, div.navigation a:after
{
    position: absolute;
    top: 25px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0,0,0,0.1);
    transform: translateX(-50%) translateY(-50%) scale(0.7);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.navigation .img_navi:before, div.navigation .img_navi:after {
    top:7px;
}

div.navigation img {
    width: 55px;
    height: auto;
}


div.navigation a:after
{
    transition: all 0.4s;
    border-width: 2px;
}

div.navigation a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.45);
}

div.navigation a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.85);
}


.header {
    padding-top: 60px;
    height: 250px;
    text-align: center;
    background-color: white;
}

.header .hi {
    color: #878787;
    font-size: 30pt;
    font-weight: lighter;
    padding: 0px;
    margin: 10px;
}

.waveWrapper {
    position: relative;
    overflow: hidden;
    left: 0;
    right: 0;
    top: -1px;
    height: 130px;
    margin: auto;
    background-color: rgba(0,0,0,0);
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 150px;
}
.bgTop {
    z-index: 0;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 0;
    opacity: 0.75;
}
.bgBottom {
    z-index: 0;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move_wave 50s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.flex-container {
    background-color: rgba(0,0,0,0);
    padding: 50px;
    list-style: none;
    width: 85%;
    height: 100%;
    margin:auto;
    margin-top: 50px;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}   

.wrap li {
  background: white;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 700px;
  height: 350px;
  margin: 30px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.5));
}

#back2top {
    text-align: center;
    margin: 20px;
    padding-bottom: 50px;
}

#back2top img{
    width: 50px;
    height: auto;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.3));
}