body {
    background-color: #F7ECE1;
    margin: 0;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.waveWrapper .intro {
	width: max-content;
	color: white;
	margin: auto;
	position: relative;
	text-align: center;
	top: 30%;
	font-size: 40pt;
	font-family: "Arial Black", Gadget, sans-serif;
}

.waveWrapper .intro .typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .05em; /* Adjust as needed */
  	animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    height: 700px;
    margin: auto;
    background-image: linear-gradient(-45deg, #8E2DE2, #4A00E0);
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move_wave 50s linear infinite;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 20s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
