@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .sidebar {
    	display: block;
    	height: 100%; /* 100% Full-height */
    	width: 0; /* 0 width - change this with JavaScript */
   	 	position: fixed; /* Stay in place */
    	z-index: 2; /* Stay on top */
    	top: 0;
    	left: 0;
    	background-color: #111; /* Black*/
    	overflow-x: hidden; /* Disable horizontal scroll */
    	padding-top: 60px; /* Place content 60px from the top */
    	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
	}

	.openbtn {
		display: block;
	}

	.navigation .left_navi, .navigation .right_navi{
		display: none;
	}

	/* The sidebar links */
	.sidebar a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 40px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	/* When you mouse over the navigation links, change their color */
	.sidebar a:hover {
	    color: #f1f1f1;
	}

	.navigation .img_navi img{
		width: 10%;
		height: auto;
	}

	.header .hi {
		font-size: 50pt;
	}

	.header .tags {
		font-size: 30pt;
	}

	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	    transition: margin-left .5s; /* If you want a transition effect */
	}


	#.openbtn {
		transition: opacity .5s;
	}

	/* */

	#about_head {
		text-align: center;
	}

	#about_head .char{
    	float: unset;
   		height: 400px;
	}

	#about_head .about_intro .about_header {
    	font-size: 40pt;
	}

	#about_head .about_intro {
    	position: relative;
    	margin: auto;
    	padding-left: 0px;
   		line-height: 1.8em;
   		font-size: 30pt;
	}
	

	#about_head .about_intro .goblue{
    	font-size: 35pt;
	}

	#about_head .small_icon {
    	height: 40px;
    	width: auto;
	}

	#about_head .icon {
	    height: 50px;
	    width: auto;
	    padding-left: 10px;
	}

}