@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
   
    .sidebar {
    	display: block;
    	height: 100%; /* 100% Full-height */
    	width: 0; /* 0 width - change this with JavaScript */
   	 	position: fixed; /* Stay in place */
    	z-index: 2; /* Stay on top */
    	top: 0;
    	left: 0;
    	background-color: #111; /* Black*/
    	overflow-x: hidden; /* Disable horizontal scroll */
    	padding-top: 5%; /* Place content 60px from the top */
    	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
	}

	.openbtn {
		display: block;
	}

	.navigation .left_navi, .navigation .right_navi{
		display: none;
	}

	/* The sidebar links */
	.sidebar a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 20px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}

	.waveTop {
	    background-size: 50% 25px;
	}
	.waveMiddle {
	    background-size: 50% 27px;
	}
	.waveBottom {
	    background-size: 50% 25px;
	}

	.waveWrapper {
	    height: 40px;
	}

	.flex-container {
	    margin-top: 20px;
	    margin-left: -20px;
	}

	/* When you mouse over the navigation links, change their color */
	.sidebar a:hover {
	    color: #f1f1f1;
	}


	/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
	#main {
	    transition: padding-left .5s; /* If you want a transition effect */
	}


	#.openbtn{
		transition: opacity .5s;
	}

	/* */

	#about_head {
		text-align: center;
	}

	#about_head .char{
    	float: unset;
   		height: 400px;
	}

	.intro_container {
		width: 100%;
	}


	.header .about_intro {
		padding-left: 20px;
		padding-right: 20px;
	}

}