.text {
  font-family: Arial, Helvetica, sans-serif;
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text-ux:nth-child(5n + 1) {
  stroke: #f2385a;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text-ux:nth-child(5n + 2) {
  stroke: #e9f1df;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text-ux:nth-child(5n + 3) {
  stroke: #f2385a;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text-ux:nth-child(5n + 4) {
  stroke: #e9f1df;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text-ux:nth-child(5n + 5) {
  stroke: #f2385a;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.text-game:nth-child(5n + 1) {
  stroke: #f5a503;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text-game:nth-child(5n + 2) {
  stroke: #e9f1df;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text-game:nth-child(5n + 3) {
  stroke: #f5a503;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text-game:nth-child(5n + 4) {
  stroke: #e9f1df;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text-game:nth-child(5n + 5) {
  stroke: #f5a503;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

.text-other:nth-child(5n + 1) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text-other:nth-child(5n + 2) {
  stroke: #e9f1df;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text-other:nth-child(5n + 3) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text-other:nth-child(5n + 4) {
  stroke: #e9f1df;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text-other:nth-child(5n + 5) {
  stroke: #3aa1bf;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
